<!-- About Section -->
<section id="about">
<!-- <div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="section-heading">About</h2>
</div>
</div>

<div class="row">
<div class="col-lg-2">
</div>

<div class="col-lg-8">


<p class="large text-muted">This project has 3 core areas of research:</p>
<ol class="large text-muted">
<li> Evaluating the economic impact of malaria control activities funded by the private foreign sector
<li> Assessing current "supply" side activities, beliefs and views regarding malaria control
<li> Assessing current "demand" side activities, beliefs and views regarding malaria control
</ol>
                




</div>
<div class="col-lg-2">
</div>


</div>
<div align='center'>
<a href="#details" class="page-scroll btn btn-xl">Details</a>
</div>
</div> -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">3 areas of research</h3>
                </div>
            </div>
            <div class="row">
                {% for aor in site.areas_of_research %}
                <div class="col-sm-4">
                    <div class="team-member">
                            <h4>{{ aor.name }}</h4>

                        <a href="{{ site.baseurl }}/{{ aor.name }}"><img src="img/aor/{{ aor.pic }}.JPG" class="img-responsive img-circle" alt=""></a>
                        <p class="text-muted" align='left'>{{ aor.subtitle }}</p>

                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Taken together, the above 3 areas or research will establish the feasibility and suitability of scaling up foreign direct investment to finance the elimination of malaria in southern Mozambique.</p>
                </div>

            </div>
            <div align='center'>
<a href="#details" class="page-scroll btn btn-xl">Details</a>
</div>
        </div>

</section>

